<!DOCTYPE html>

<head>
    <!-- Respoke client library -->
    <script src="https://cdn.respoke.io/respoke.min.js"></script>

    <!-- jQuery, for this example -->
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="../static/jquery.cookie.js"></script>
    
    <!-- Some simple styles to make things perty -->
    <link rel="stylesheet" type="text/css" href="../static/style.css" /></style>
</head>

<body>
    <h3 id="status">Not Connected</h3>
    <div id="login">
        <div id="endpoint" placeholder="Username" type="text" ></div>
    </div>
    
    <div id="messaging">
        <ul id="messages"></ul><br />
        <input id="textToSend" placeholder="Message to Send" rows="2"></input><br/>
        <button id='sendMessage'>Send Message</button>
    </div>
    <h3 id="location">Not Connected</h3>

    <script type="text/javascript">
        // App ID value from the dev portal. You can play
        // around with the supplied ID or replace it with
        // your own.
        var appid = "b4931d40-ff2b-4c46-8487-bf955a75501d";
        var endpointId;
        
        //get dat location
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else { 
                $("#status").html("Geolocation is not supported by this browser.");
            }
        }
        //show the lat and long
        function showPosition(position) {
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
            accuracy = position.coords.accuracy;
            $("#location").html("Latitude: " + latitude.toFixed(3) + "<br>Longitude: " + longitude.toFixed(3) + "<br>Accuracy: " + accuracy);
            $.cookie("posLat", latitude);
            $.cookie("posLon", longitude);
            $.cookie("posAccuracy", accuracy);

             
        }

        // Create the client object using the App ID 
        var client = respoke.createClient({
            appId: appid,
            developmentMode: true
        });

        // "connect" event fired after successful connection to Respoke
        client.listen('connect', function() {
            $("#status").html("Connected to Respoke as \"" + endpointId + "\"");
        });

        // Listen for incoming messages
        client.listen('message', function(evt) {
            var lat = $.cookie("posLat");
            var lon = $.cookie("posLon");
            var acc = $.cookie("posAccuracy");

            var index = evt.message.message.search(":");
            var latitude = evt.message.message.slice(0,index);
            var messag = evt.message.message.slice(index+1,evt.message.message.length)

            // var output = '';
            // for (var property in evt.message) {
            //   output += property + ': ' + evt.message[property]+'; ';
            // }
             console.log(latitude - lat);
            if (latitude - lat < acc * 10) {
                $("#messages").append(
                    "<li>" + messag + "</li>"
                );
            }
        });

        // Connect to Respoke when the user clicks "connect"
        $("document").ready(function() {
            $("#status").html("Connecting...");
            getLocation();
            console.log("Hey");
			if (localStorage.endpointId) {
				endpointId = localStorage.endpointId;
                console.log("not");
			} else {
				endpointId = Math.floor(Math.random()*42);
                console.log("here");
			}
            console.log("yo");
            client.connect({
                endpointId: endpointId // your username is the endpoint
            });
            console.log("done");
        });

        // Send message
        $("#sendMessage").click(function() {
            // Get the recipients name

			for (i=0;i<42;i++) {
				// Make an endpoint for that recipient
				var temp = i;
				var endpoint = client.getEndpoint({
					id: temp.toString()
				});

                var lat = $.cookie("posLat");
                var lon = $.cookie("posLon");

				// Grab the text to send
				var messageText = lat+":"+endpointId + ": " + $("#textToSend").val();

				// Send it
				endpoint.sendMessage({
					message: messageText
				});
			}

            // Clear the text you just sent
            $("#textToSend").val('');
        });
    </script>
</body>

</html>