<!DOCTYPE html>

<head>
    <!-- Respoke client library -->
    <script src="https://cdn.respoke.io/respoke.min.js"></script>

    <!-- jQuery, for this example -->
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    
    <!-- Some simple styles to make things perty -->
    <link rel="stylesheet" type="text/css" href="../static/style.css" /></style>
</head>

<body>
    <h3 id="status">Not Connected</h3>
    <div id="login">
        <div id="endpoint" placeholder="Username" type="text" ></div>
    </div>
    
    <div id="messaging">
        <ul id="messages"></ul><br />
        <input id="textToSend" placeholder="Message to Send" rows="2"></input><br/>
        <button id='sendMessage'>Send Message</button>
    </div>

    <script type="text/javascript">
        // App ID value from the dev portal. You can play
        // around with the supplied ID or replace it with
        // your own.
        var appid = "b4931d40-ff2b-4c46-8487-bf955a75501d";
        var endpointId;

        // Create the client object using the App ID 
        var client = respoke.createClient({
            appId: appid,
            developmentMode: true
        });

        // "connect" event fired after successful connection to Respoke
        client.listen('connect', function() {
            $("#status").html("Connected to Respoke as \"" + endpointId + "\"");
        });

        // Listen for incoming messages
        client.listen('message', function(evt) {
            $("#messages").append(
                "<li>" + evt.message.message + "</li>"
            );
        });

        // Connect to Respoke when the user clicks "connect"
        $("document").ready(function() {
            $("#status").html("Connecting...");
            
			if (localStorage.endpointId) {
				endpointId = localStorage.endpointId;
			} else {
				endpointId = Math.floor(Math.random()*42);
			}
			
            client.connect({
                endpointId: endpointId // your username is the endpoint
            });
        });

        // Send message
        $("#sendMessage").click(function() {
            // Get the recipients name

			for (i=0;i<42;i++) {
				// Make an endpoint for that recipient
				var temp = i;
				var endpoint = client.getEndpoint({
					id: temp.toString()
				});

				// Grab the text to send
				var messageText = endpointId + ": " + $("#textToSend").val();

				// Send it
				endpoint.sendMessage({
					message: messageText
				});
			}

            // Clear the text you just sent
            $("#textToSend").val('');
        });
    </script>
</body>

</html>